/* 
        GENERAL
*/
:root{
  --couleur1: rgb(13, 86, 13);
  --couleur2: rgb(22, 172, 22);
  --couleur3: rgb(75, 44, 44);
  --couleur4: rgb(129, 100, 85);
  --couleur5: rgb(252, 220, 114);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  > *{
    width: 90vw;
    margin: auto;
  }
}

/* styles polices google fonts */
.titre1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 10,
    "SHLN" 50;
}
.titre2 {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0 - 60;
}
.titre3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
p,
.texte {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.titre1,
.titre2 {
  text-align: center;
}

/* 
        HEADER
*/
header {
  margin-top: 3vh;

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  nav{
    a{
      color: var(--couleur2);
      text-shadow: 1px 1px 2px var(--couleur5);
    }
  }
}

/* 
        MAIN
*/
main {
  section {
    margin: 10vh 0;
    min-height: 50vh;

    img{
      width: 100%;
    }
  }
}

/* 
        FOOTER
*/
footer {
}
